.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.header {
  background-color: #3b5486;
  border-bottom: 2px solid #25375a;
}

.hero {
  height: 550px;
  background-image: linear-gradient(rgba(33, 51, 88, .93), rgba(33, 51, 88, .93)), url('../images/louis-hansel-Rf9eElW3Qxo-unsplash.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  color: #fff;
  background-color: #1e293f;
  padding-top: 20px;
  padding-bottom: 20px;
}

.call-to-action {
  background-image: linear-gradient(rgba(238, 203, 49, .9), rgba(238, 203, 49, .9)), url('../images/julie-molliver-Z3vFp7szCAY-unsplash.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.page-width {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  display: flex;
}

.nav-width {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-seperator {
  height: auto;
  flex: 1;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: 600;
}

.nav-link.link {
  text-decoration: underline;
}

.button {
  color: #000;
  text-transform: uppercase;
  background-color: #f9dc5c;
  padding: 20px 26px;
  font-size: 18px;
  font-weight: 600;
}

.button.cta {
  margin-left: 20px;
}

.image {
  background-color: #f9dc5c;
  margin-bottom: -65px;
  padding: 10px 12px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, .22);
}

.text-center {
  text-align: center;
}

.white {
  color: #fff;
}

.heading {
  color: #f9dc5c;
  font-size: 56px;
  line-height: 1.1;
}

.compact {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.compact.mb-4 {
  margin-bottom: 33px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-3.subtitle {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.bg-light {
  background-color: rgba(122, 122, 122, .08);
}

.section.bg-light.tight {
  padding-top: 20px;
  padding-bottom: 20px;
}

.annoucement-bar {
  background-color: #f9dc5c;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold {
  font-weight: 400;
}

.bold.mb-0 {
  margin-bottom: 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.columns {
  display: flex;
}

.seperator {
  width: 1080px;
  max-width: 100%;
  border-top: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
}

.text-button {
  color: #000;
  text-transform: uppercase;
  background-color: rgba(249, 220, 92, 0);
  margin-left: -20px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.text-button.cta {
  margin-left: 20px;
}

.padding {
  padding: 20px;
}

.mt-0 {
  margin-top: 0;
}

.div-block {
  justify-content: space-between;
  display: flex;
}

.div-block-2 {
  max-width: 50%;
}

.div-block-2.right {
  text-align: right;
}

.small {
  font-size: 14px;
}

.overline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.service-list {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
}

.unset {
  color: #003192;
}

.icon {
  width: auto;
  height: 48px;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .nav-width {
    padding-left: 0;
    padding-right: 0;
  }

  .brand {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    z-index: 99999;
    border-bottom-style: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .hero {
    height: 100vh;
  }

  .nav-link.link.small-hide {
    display: none;
  }

  .nav-menu {
    padding-right: 12px;
  }

  .image {
    width: 100px;
    margin-bottom: 0;
  }

  .grid {
    text-align: center;
    grid-template-columns: 1fr;
  }

  .columns {
    flex-direction: column;
  }

  .div-block {
    text-align: center;
    flex-direction: column;
  }

  .div-block-2 {
    max-width: 100%;
  }

  .div-block-2.right {
    text-align: center;
  }

  .service-list {
    padding-left: 0;
    list-style-type: none;
  }

  .text-span {
    color: #fff;
    text-decoration: underline;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.small-hide {
    display: none;
  }
}

#w-node-_8d41255f-1f0b-d099-75c4-fc4b5f316391-fd748d47, #w-node-a796fbba-f3fb-4e84-e315-c215012baf9b-fd748d47, #w-node-_6451e304-70eb-1200-5484-b34f1a41f178-fd748d47, #w-node-b83d6964-1406-36cc-557f-24ba333f2c12-fd748d47, #w-node-b83d6964-1406-36cc-557f-24ba333f2c14-fd748d47, #w-node-b83d6964-1406-36cc-557f-24ba333f2c16-fd748d47, #w-node-a1ee1a6b-3c16-5bca-7ff4-8ef2b242ae06-fd748d47, #w-node-a1ee1a6b-3c16-5bca-7ff4-8ef2b242ae08-fd748d47, #w-node-a1ee1a6b-3c16-5bca-7ff4-8ef2b242ae0a-fd748d47, #w-node-_17bafb82-7a9d-a218-9af5-6cfee8c8f14d-fd748d47, #w-node-_17bafb82-7a9d-a218-9af5-6cfee8c8f14f-fd748d47, #w-node-_17bafb82-7a9d-a218-9af5-6cfee8c8f151-fd748d47, #w-node-_954af3cb-6d73-670d-1b4b-0182623e9d31-fd748d47, #w-node-_954af3cb-6d73-670d-1b4b-0182623e9d33-fd748d47, #w-node-_954af3cb-6d73-670d-1b4b-0182623e9d35-fd748d47, #w-node-_372ad60c-6160-8ba5-350c-bef57c8af73a-fd748d47, #w-node-_372ad60c-6160-8ba5-350c-bef57c8af73c-fd748d47, #w-node-_372ad60c-6160-8ba5-350c-bef57c8af73e-fd748d47, #w-node-d6106daf-ddda-66f0-949c-b3bacd758648-fd748d47, #w-node-d6106daf-ddda-66f0-949c-b3bacd75864a-fd748d47, #w-node-d6106daf-ddda-66f0-949c-b3bacd75864c-fd748d47, #w-node-_3747c3c6-8b6a-eafe-2feb-141ce105bd09-fd748d47, #w-node-_3747c3c6-8b6a-eafe-2feb-141ce105bd0b-fd748d47, #w-node-_3747c3c6-8b6a-eafe-2feb-141ce105bd0d-fd748d47, #w-node-_1346c57f-5334-3cda-3d45-acf3bf641d0d-fd748d47, #w-node-_1346c57f-5334-3cda-3d45-acf3bf641d0f-fd748d47, #w-node-e49439bd-b445-b53e-fac4-6d1e7238f024-fd748d47, #w-node-e49439bd-b445-b53e-fac4-6d1e7238f025-fd748d47, #w-node-_23d8e286-2a02-807c-2ad8-f322dbed3b7e-fd748d47, #w-node-_23d8e286-2a02-807c-2ad8-f322dbed3b7f-fd748d47, #w-node-c049e526-b627-7e8b-1367-a6667b3eff79-fd748d47, #w-node-c049e526-b627-7e8b-1367-a6667b3eff7a-fd748d47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
